.starShipButton{
    background-color: #ffe300;
    border-color: transparent;
    width: 90%;
}
.borderStarshipButton{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.starShipButton:hover{
    background-color:#CABE53;
    color: white;

 }