body{
    background-image: url('./background.png');
    background-blend-mode: multiply;
    color: black;
}
.title-span{
    color: #ffe300;
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;

}
.movieList{
    padding-bottom: 30px;
}
span{
    color: white;
}
.Card .Header{
    color: black;
}
.myStarshipsButton{
    background-color: #3E73D4;
    color: black;
    border-color: transparent;
    border-radius: 20px;
    width: 100%;
}
.myStarshipsButton:hover{
    background-color:#3B69BD;
    color: white;

}